extends layout

block content
  div.container-fluid(style='text-align:center')
    div.row(style='')
      img.img-responsive(src='/upload/top.png')
    div.row(style='padding:50px')
      img(src='/upload/qrcode.png')
    div.row
      img.img-responsive(src='/upload/bottom.png')

